// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿一覧画面のCSS
.index-heading {
  margin-bottom: 0.67em;
}

th {
  padding: 1px 1px 5px;
}

td {
  padding: 1px 5px 7px;
}

// 新規投稿画面のCSS
.new-heading {
  margin: 0.83em 0 ;
}

.new-contents {
  margin-bottom: 10px;
}

input {
  padding: 1px 2px;
}

.new-content:invalid {
  background-color: #ff0000;
  color: #000;
}

textarea {
  padding: 2px;
}

.btn {
  padding: 1px 6px;
}

// 詳細画面のCSS
.show-content {
  margin: 0 33px 33px;
}

// 編集画面のCSS
.edit-heading {
  margin: 0.67em 0;
}

.edit-content {
  margin-bottom: 10px;
}

.show-back {
  margin-top: 10px;
}

.notice {
  color: green;
  padding: 0 33px 33px;
}

.error {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error-count {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

.error-contents {
  margin: 33px;
}

